{% extends '_base.html' %}


{% block content %}


<form id="contact-form" class="contact-form col-lg-8 mx-lg-auto" method="POST" action="{% url 'contact' %}">
  {% csrf_token %}
  <h3 class="text-center mb-3">Get In Touch</h3>
  <div class="form-row">                                                           
      <div class="form-group col-md-6">
          <label class="sr-only" for="cname">Name</label>
          <input type="text" class="form-control" id="cname" name="name" placeholder="Name" minlength="2" required="" aria-required="true">
      </div>                    
      <div class="form-group col-md-6">
          <label class="sr-only" for="cemail">Email</label>
          <input type="email" class="form-control" id="cemail" name="email" placeholder="Email" required="" aria-required="true">
      </div>
      <div class="form-group col-12">
      </div>
      <div class="form-group col-12">
          <label class="sr-only" for="cmessage">Your message</label>
          <textarea class="form-control" id="cmessage" name="message" placeholder="Enter your message" rows="10" required="" aria-required="true"></textarea>
      </div>
       <div class="form-group col-12">
          <button type="submit" class="btn btn-block btn-primary py-2">Send Now</button>
      </div>                           
  </div><!--//form-row-->
</form>


{% endblock %}